html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(./background2.jfif);
}
.item0{
    grid-area: item0;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.Panel_c
{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "item0 item0"
        "item1 item2";
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    background-image: url(./background2.jfif);
}
#ToolBox{
    background-image: url(./background1.jpg);
}
.ToolButton{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    background-size: cover;
}
.Attri-item0{
    grid-area: Attri-item0;
}
.Attri-item1{
    grid-area: Attri-item1;
}
.Attri-item2{
    grid-area: Attri-item2;
}
#Attributes{
    display: grid;
    grid-template-rows: auto auto 260px;
    grid-template-areas: 
        "Attri-item0"
        "Attri-item1"
        "Attri-item2";
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    background-image: url(./background1.jpg);
}
.Brush-item0{
    grid-area: Brush-item0;
}
.Brush-item1{
    grid-area: Brush-item1;
}
#Brush{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "Brush-item0 Brush-item1"
        "Brush-item2 Brush-item2";
    grid-gap: 10px;
    width: 100%;
    height: 100%;
}
#BrushSize{
    width: 300px;
    margin-left: 50px;
}
#BrushSizeMonitor{
    margin-top: 75px;
}
.Picker-item0{
    grid-area: Picker-item0;
}
.Picker-item1{
    grid-area: Picker-item1;
}
.Picker-item2{
    grid-area: Picker-item2;
}
.Picker-item3{
    grid-area: Picker-item3;
}
.Picker-item4{
    grid-area: Picker-item4;
}
#Picker{
    display: grid;
    grid-template-rows: 70px 50px 50px auto;
    grid-template-columns: 250px auto;
    grid-template-areas: 
        "Picker-item0 Picker-item1"
        "Picker-item0 Picker-item2"
        "Picker-item0 Picker-item3"
        "Picker-item0 Picker-item4";
    grid-gap: 10px;
    width: 100%;
    height: 100%;
}
#ColorPicker{
    margin-left: 80px;
}
#ColorMonitor{
    margin-top: 10px;
    width: 75px;
    height: 45px;
}
#Board{
    background-image: url(./background1.jpg);
}
#CanvasBoard{
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
}
